@model IEnumerable<EmployeeMasterKadai.Models.Employee>
@using EmployeeMasterKadai.Common

@{
    ViewData["Title"] = "Index";
}

<!-- 追加モーダルを表示するボタン -->
<button type="button" class="btn btn-primary mb-3" id="openCreateModal">
    追加<i class="bi bi-person-add"></i>
</button>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetirementFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetirementDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetirementFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetirementDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
             


            <td>
                <!-- モーダルを表示するトリガーボタン -->
                <button type="button" class="btn btn-primary openEditModal" data-id="@item.Id" data-retirementFlag="@item.RetirementFlag">
                    編集<i class="bi bi-person-add"></i>
                </button>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- モーダルウィンドウ -->
<div class="modal fade" id="externalModal" tabindex="-1" aria-labelledby="externalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">社員の登録</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContentPlaceholder"></div>
            <div class="modal-footer"id="modalFooter"></div>
        </div>
    </div>
</div>

<!--エラーのモーダルウィンドウ static背景クリックして閉じさせなくしたい-->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #d5e5ed">
            <div class="modal-header">
                <h5 class="modal-title">エラー</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="CloseBtn" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>登録できませんでした。画面を確認してください。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalBtn">閉じる</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }　

    <script>

 
        $(document).ready(function () {

            $('.openEditModal').on('click', function (e) {
                e.preventDefault();
                $('#externalModal').modal('show');

                var itemId = $(this).data('id');
                var retirementFlag = $(this).data('retirementflag');

                $.ajax({
                    url: '/Employees/Edit/' + itemId,
                    type: 'GET',
                    success: function (data) {
                        $('#modalContentPlaceholder').html(data);
                        checkFlag(retirementFlag);

                        $('#retirementFlag').on('change', function () {
                            checkRetirement(this);
                        });
                        initForm();
                    }
                });
            });

            function checkFlag(retirementFlag) {
                var retirementFlagString = retirementFlag.toString();
                var stylInputDay = $('#stylInputDay');

                if (retirementFlagString === "False") {
                    $('#retirementDayInput input[type="date"]').prop('disabled', true);
                    stylInputDay.css('color', '#999999');
                } else {
                    $('#retirementDayInput input[type="date"]').prop('disabled', false);
                    stylInputDay.css('color', '#000000');
                }
            }

            // Createボタンがクリックされた時の処理
            $('#openCreateModal').on('click', function (e) {
                e.preventDefault();
                $('#externalModal').modal('show');

                $.ajax({
                    url: '/Employees/Create',
                    type: 'GET',
                    success: function (data) {
                        $('#modalContentPlaceholder').html(data);
                        $('#retirementFlag').on('change', function () {
                            checkRetirement(this);
                        });
                        initForm(); // フォームの初期化
                    }
                });
            });

            function checkRetirement(check) {
                var retirementFlagChecked = $(check).prop('checked');
                var stylInputDay = $('#stylInputDay');

                if (retirementFlagChecked) {
                    $('#retirementDayInput input[type="date"]').prop('disabled', false);
                    stylInputDay.css('color', '#000000');
                } else {
                    $('#retirementDayInput input[type="date"]').prop('disabled', true);
                    stylInputDay.css('color', '#999999');
                }
            }

            function connectTOForm() {
                $.ajax({
                    url: '/Employees/Create',
                    type: 'GET',
                    success: function (data) {
                        $('#modalContentPlaceholder').html(data);
                        $('#retirementFlag').on('change', function () {
                            checkRetirement(this);
                        });
                        initForm(); // フォームの初期化
                    }
                });
            }

            // フォームの初期化関数
            var initForm = (retirementFlag) => {
                const $form = $('#modalContentPlaceholder').find('form');

                // 入力コントロールが読み込まれてから入力チェック機能を有効にする
                $.validator.unobtrusive.parse($form);

                $form.on('submit', function (e) {
                    e.preventDefault();

                    if (!$form.valid()) {
                        return false; 
                    }


                    // Ajaxでpost
                    $.ajax({
                        type: 'post',
                        url: $form.attr('action'), // 送信先URL
                        data: $form.serialize(), // フォームデータ
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    }).done((data) => {              

                        if (data.success) {
                            $('#externalModal').modal('hide');
                            location.reload();

                        } else {
                            $('#errorModal').modal('show');

                            $('#modalContentPlaceholder').html(data);
                             checkFlag(retirementFlag);
                            $('#retirementFlag').on('change', function () {
                            checkRetirement(this);
                            });                     
                        }
                    });

                });
            };
            $('#closeModalBtn, #CloseBtn').click(function () {
                console.log("閉じるボタンが押された")
                connectTOForm();
            });
        });
    </script>
}