@model IEnumerable<EmployeeMasterKadai.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<!-- 追加モーダルを表示するボタン -->
<button type="button" class="btn btn-primary mb-3" id="openCreateModal">
    追加<i class="bi bi-person-add"></i>
</button>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetirementFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetirementDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetirementFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetirementDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
             


            <td>
                <!-- モーダルを表示するトリガーボタン -->
                <button type="button" class="btn btn-primary openEditModal" data-id="@item.Id" data-retirementFlag="@item.RetirementFlag">
                    編集<i class="bi bi-person-add"></i>
                </button>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- モーダルウィンドウ -->
<div class="modal fade" id="externalModal" tabindex="-1" aria-labelledby="externalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title fs-5" id="exampleModalLabel"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContentPlaceholder"></div>
            <div class="modal-footer"id="modalFooter"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #d5e5ed">
            <div class="modal-header">
                <div class="modal-title fs-5" id="messageLavel"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="CloseBtn" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody"></div>
            <div class="modal-footer" id="closeModalBtn">
            </div>

        </div>
    </div>
</div>

<script src="~/js/Common.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }　

    <script>
        $(document).ready(function () {

            $('.openEditModal').on('click', function (e) {
                e.preventDefault();
                $('#externalModal').modal('show');

                var itemId = $(this).data('id');
                var retirementFlag = $(this).data('retirementflag');

                $.ajax({
                    url: '/Employees/Edit/' + itemId,
                    type: 'GET',
                    success: function (data) {

                        $('#modalContentPlaceholder').html(data);
                        $('#exampleModalLabel').text('社員の編集');
                        setFlagChecked(retirementFlag);

                        $('#retirementFlag').on('change', function () {
                            changeFlagChecked(this);
                        });
                        initForm();
                    }
                });
            });

            $('#openCreateModal').on('click', function (e) {
                e.preventDefault();
                $('#externalModal').modal('show');

                $.ajax({
                    url: '/Employees/Create',
                    type: 'GET',
                    success: function (data) {
                        $('#modalContentPlaceholder').html(data);
                        $('#exampleModalLabel').text('社員の登録');
                        $('#retirementFlag').on('change', function () {
                            changeFlagChecked(this);
                        });
                        initForm();
                    }
                });
            });

            function setFlagChecked(retirementFlag) {
                var retirementFlagString = retirementFlag.toString();
                var stylInputDay = $('#stylInputDay');

                if (retirementFlagString === "False") {
                    $('#retirementDayInput input[type="date"]').prop('disabled', true);
                    stylInputDay.css('color', '#999999');
                } else {
                    $('#retirementDayInput input[type="date"]').prop('disabled', false);
                    stylInputDay.css('color', '#000000');
                }
            }

            function changeFlagChecked(check) {
                var retirementFlagChecked = $(check).prop('checked');
                var retirementDayInput = $('#retirementDayInput input[type="date"]');

                if (retirementFlagChecked) {
                    retirementDayInput.prop('disabled', false);
                    retirementDayInput.val('9998-12-31');
                    $('#stylInputDay').css('color', '#000000');
                } else {
                    retirementDayInput.prop('disabled', true);
                    retirementDayInput.val('');
                    $('#stylInputDay').css('color', '#999999');
                }
            }

            var initForm = (retirementFlag) => {
                const $form = $('#modalContentPlaceholder').find('form');

                // 入力コントロールが読み込まれてから入力チェック機能を有効にする
                $.validator.unobtrusive.parse($form);

                $form.on('submit', function (e) {
                    e.preventDefault();

                    if (!$form.valid()) {
                        showErrorModal();
                        return false; 
                    }

                        Promise.all([
                            $.ajax({
                                type: 'post',
                                url: '/Employees/DateInPast',
                                data: $form.serialize(),
                                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                            }),
                            $.ajax({
                                type: 'post',
                                    url: '/Employees/IfTimesNull',
                                data: $form.serialize(),
                                contentType: 'application/x-www-form-urlencoded; charset=utf-8'
                            })
                         ]).then(([dateInPastResponse, ifTimesNullResponse]) => {

                            if (dateInPastResponse.warning) {
                                serverErrorModal(dateInPastResponse.message);
                                return;
                            }
                            if (ifTimesNullResponse.warning) {
                                serverErrorModal(ifTimesNullResponse.message);
                                return;
                            }


                        var callback = function () {
                            $.ajax({
                                type: 'post',
                                url: $form.attr('action'), 
                                data: $form.serialize(), 
                                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                            }).done((data) => {
                                if (data.success) {
                                    location.reload();
                                }
                                else {
                                    $('#modalContentPlaceholder').html(data);
                                    showErrorModal();
                                }
                            });
                        };

                        if ($form.attr('action') === '/Employees/Create') {
                            showConfirmationModal('/Employees/Create', '新規登録します。よろしいですか？', callback);
                        } 
                        else {
                            showConfirmationModal('/Employees/Update', '更新します。よろしいですか？', callback);
                        }
                    });
                });
            };
        });
    </script>
}