@model EmployeeMasterKadai.Models.Schedule
@using EmployeeMasterKadai.Models

@{
    ViewData["Title"] = "スケジュール登録";
}

<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Organizer" class="control-label"></label>
            @{
                var selectList = new SelectList(ViewBag.People, "Id", "Name");
            }

            <div class="form-group">
                <div>
                    @Html.DropDownListFor(model => model.Organizer, selectList, "選択してください", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Organizer, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="form-group mb-3">
            <label asp-for="TypeToDo" class="control-label"></label>
            <select asp-for="TypeToDo" class="form-control">
                <option value="">指定しない</option>
                <option value="営業">営業</option>
                <option value="会議">会議</option>
                <option value="開発">開発</option>
                <option value="休日">休日</option>
            </select>
            <span asp-validation-for="TypeToDo" class="text-danger"></span>
        </div>
        <div class="form-group form-check mb-3">
            <label class="form-check-label">
                <input id="AllDay" type="checkbox" class="form-check-input" asp-for="AllDay" />
                @Html.DisplayNameFor(model => model.AllDay)
            </label>
        </div>
        <div class="form-group" id="startDay">
                <label asp-for="StartDay" class="control-label"></label>
                <div class="row g-0">
                    <div class="col-md-6">
                        <input id="startDate" class="form-control" type="date" />
                    </div>
                    <div id="startTimeBox" class="col-md-6">
                        <input id="startTime" type="text" list="data-list" class="form-control"/>
                    </div>
                </div>
                <datalist id="data-list"></datalist>
                <input type="hidden" id="StartDay" name="StartDay" />
                <span asp-validation-for="StartDay" class="text-danger"></span>
            </div>

        <div class="form-group mb-3" id="endDay">
                <label asp-for="EndDay" class="control-label"></label>
                <div class="row g-0">
                    <div class="col-md-6">
                        <input id="endDate" class="form-control" type="date" />
                    </div>
                    <div id="endTimeBox" class="col-md-6">     
                        <input id="endTime" type="text" autocomplete="off" list="data-list" class="form-control" />    
                    </div>
                </div>
                <datalist id="data-list"></datalist>
                <input type="hidden" id="EndDay" name="EndDay" />
                <span asp-validation-for="EndDay" class="text-danger"></span>
            </div>
    
        <div class="form-group mb-3">
            <label asp-for="JoinPeople" class="control-label">参加者</label>
            <div class="scrollable-checkboxes border rounded" style="max-height: 100px; width: 200px; overflow-y: auto;">

                @foreach (var employee in ViewBag.People)
                {
                    <div class="form-check ml-2">
                <input type="checkbox" id="@("checkbox_" + employee.Id)" name="selectedEmployeeIds" value="@employee.Id" class="form-check-input" />
                <label class="form-check-label" for="@("checkbox_" + employee.Id)">@employee.Name</label>
            </div>
                }
            </div>
            <span asp-validation-for="JoinPeople" class="text-danger"></span>
        </div>

    </form>


</div>
