@model EmployeeMasterKadai.Models.Schedule
@using EmployeeMasterKadai.Models

@{
    ViewData["Title"] = "スケジュール削除";
}

<h3>以下の内容を削除します。よろしいですか？</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class = "col-sm-10">
            @{
                var employeeLists = ViewBag.EmployeeContext as IEnumerable<Employee>;
                if (Guid.TryParse(Model.Organizer.ToString(), out Guid organizerId))
                {
                    var employee = employeeLists.FirstOrDefault(e => e.Id == organizerId);
                    if (employee != null)
                    {
                        <div>@employee.Name</div>
                    }
                }               
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeToDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeToDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDay)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.AllDay)
                {
                    @Model.StartDay?.ToString("yyyy-MM-dd")
                }
                else
                {
                    @Model.StartDay?.ToString("yyyy-MM-dd HH:mm")
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDay)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.AllDay)
                {
                    @Model.EndDay?.ToString("yyyy-MM-dd")
                }
                else
                {
                    @Model.EndDay?.ToString("yyyy-MM-dd HH:mm")
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinPeople)
        </dt>
        <dd class = "col-sm-10">
            @{
                var employees = ViewBag.EmployeeContext as IEnumerable<Employee>;
                foreach (var employeeId in Model.JoinPeople)
                {
                    var employee = employees?.FirstOrDefault(e => e.Id == employeeId);
                    if (employee != null)
                    {
                        <div>@employee.Name</div>
                    }
                }
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-secondary">キャンセル</a>
        <input type="submit" value="削除" class="btn btn-danger" />
    </form>
</div>
