@model EmployeeMasterKadai.Models.Schedule

@{
    ViewData["Title"] = "詳細";
}

@* //追加条件の可能性有のため残す *@


<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeToDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeToDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinPeople)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
