@model EmployeeMasterKadai.Models.Schedule

@{
    ViewData["Title"] = "Edit";
}

<h3>スケジュールの編集</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreateDate" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organizer" class="control-label"></label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.Organizer, new SelectList(Model.JoinPeople), "選択してください", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Organizer, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TypeToDo" class="control-label"></label>
                <select asp-for="TypeToDo" class="form-control">
                    <option value="">指定しない</option>
                    <option value="営業">営業</option>
                    <option value="会議">会議</option>
                    <option value="開発">開発</option>
                    <option value="休日">休日</option>
                </select>
                <span asp-validation-for="TypeToDo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AllDay" /> @Html.DisplayNameFor(model => model.AllDay)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StartDay" class="control-label"></label>
                <input asp-for="StartDay" class="form-control" />
                <span asp-validation-for="StartDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDay" class="control-label"></label>
                <input asp-for="EndDay" class="form-control" />
                <span asp-validation-for="EndDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoinPeople" class="control-label">参加者：</label>
                <div class="scrollable-checkboxes border rounded" style="max-height: 100px; width: 200px; overflow-y: auto;">

                    @foreach (var name in Model.JoinPeople)
                    {
                        <div class="form-check ml-2">
                            <input type="checkbox" id="@name" name="JoinPeople" value="@name" class="form-check-input" />
                            <label class="form-check-label" for="@name">@name</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="JoinPeople" class="text-danger"></span>
            </div>
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <input type="submit" value="保存" class="btn btn-primary" />
                </div>
                <div class="p-2">
                    <a asp-action="Index" class="btn btn-secondary">キャンセル</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
