@model IEnumerable<EmployeeMasterKadai.Models.Schedule>
@using EmployeeMasterKadai.Common

@{
    ViewData["Title"] = "Index";
}


<!-- 追加モーダルを表示するボタン -->
<button type="button" class="btn btn-primary mb-3" id="createModal">
    追加<i class="bi bi-person-add"></i>
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Organizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeToDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinPeople)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeToDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllDay)
            </td>
            <td>
                @{
                    var startDayFormat = new DateFormat(); 
                    if (item.StartDay != null)
                    {
                        var formattedStartDatDate = startDayFormat.Format(item.StartDay.Value, "yyyy年MM月dd日 hh:mm");
                        @formattedStartDatDate
                    }
                }
            </td>
            <td>
                @{
                    var endDayFormat = new DateFormat();
                    if (item.EndDay != null)
                    {
                        var formattedEndDayDate = endDayFormat.Format(item.EndDay.Value, "yyyy年MM月dd日 hh:mm");
                        @formattedEndDayDate
                    }
                }
            </td>
            <td>
                @foreach (var person in item.JoinPeople)
                {
                    <div>@person</div>
                }
            </td>
            <td>
                    <button type="button" class="btn btn-primary editModal" data-id="@item.Id">
                        編集<i class="bi bi-person-add"></i>
                    </button>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>



<!-- モーダルウィンドウ -->
<div class="modal fade" id="externalModal" tabindex="-1" aria-labelledby="externalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="modalContentPlaceholder"></div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        // 編集モーダルを表示するボタンがクリックされた場合
        $('.editModal').on('click', function (e) {
            e.preventDefault();
            $('#externalModal').modal('show');

            var itemId = $(this).data('id');

            $.ajax({
                url: '/Schedules/Edit/' + itemId,
                type: 'GET',
                success: function (data) {
                    $('#modalContentPlaceholder').html(data);
                }
            });
        });

        // 追加モーダルを表示するボタンがクリックされた場合
        $('#createModal').on('click', function (e) {
            e.preventDefault();
            $('#externalModal').modal('show');

            $.ajax({
                url: '/Schedules/Create',
                type: 'GET',
                success: function (data) {
                    $('#modalContentPlaceholder').html(data);

                }
            });
        });
        $('.modal').on('click', function (e) {
            if (e.target !== this) return;
            $('#externalModal').modal('hide')
        });
    });
</script>