@model IEnumerable<EmployeeMasterKadai.Models.Schedule>
@using EmployeeMasterKadai.Common

@{
    ViewData["Title"] = "Index";
}

<!-- 追加モーダルを表示するボタン -->
<button type="button" class="btn btn-primary mb-3" id="createModal">
    追加<i class="bi bi-person-add"></i>
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Organizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeToDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinPeople)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeToDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDay)
            </td>
        
            <td>
                @foreach (var person in item.JoinPeople)
                {
                    <div>@person</div>
                }
            </td>
            <td>
                    <button type="button" class="btn btn-primary editModal" data-id="@item.Id" data-all="@item.AllDay">
                        編集<i class="bi bi-person-add"></i>
                    </button>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>



<!-- モーダルウィンドウ -->
<div class="modal fade" id="externalModal" tabindex="-1" aria-labelledby="externalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title fs-5" id="exampleModalHeader"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContentPlaceholder"></div>
            <div class="modal-footer" id="modalFooter"></div>
        </div>
    </div>
</div>


<!--エラーのモーダルウィンドウ-->
<div class="modal" id="errorModalSchedule" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #FFC7AF">
            <div class="modal-header">
                <h5 class="modal-title">エラー</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="CloseBtn" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>登録できませんでした。画面を確認してください。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalBtn">閉じる</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script>
        // 日付を適切な形式にフォーマットする関数
        function formatDate(date) {
            var formattedDate = new Date(date);
            var year = formattedDate.getFullYear();
            var month = ("0" + (formattedDate.getMonth() + 1)).slice(-2);
            var day = ("0" + formattedDate.getDate()).slice(-2);
            var hours = ("0" + formattedDate.getHours()).slice(-2);
            var minutes = ("0" + formattedDate.getMinutes()).slice(-2);
            var formattedDateTime = year + "-" + month + "-" + day + "T" + hours + ":" + minutes;
            return formattedDateTime;
        }

    $(document).ready(function () {

        // 編集モーダルを表示するボタンがクリックされた場合
        $('.editModal').on('click', function (e) {
            e.preventDefault();
            $('#externalModal').modal('show');


            var itemId = $(this).data('id');
            var all = $(this).data('all');

            $.ajax({
                url: '/Schedules/Edit/' + itemId,
                type: 'GET',
                success: function (data) {
                    $('#modalContentPlaceholder').html(data);
                    $('#exampleModalHeader').text('スケジュールの編集');
                    checkFlag(all);

                    $('#AllDay').on('change', function () {
                        checkAllDay(this);
                    });
                    initForm();
                }
            });
        });

        function checkFlag(allDay) {
            var allDayFlagString = allDay.toString();
            var dateTimeInputs = $('#dateTimeInputs');

            if (allDayFlagString === "False") {
                    $('#startDay input[type="datetime-local"]').prop('disabled', false);
                    $('#endDay input[type="datetime-local"]').prop('disabled', false);
                    dateTimeInputs.css('color', '#000000');
            } else {
                    $('#startDay input[type="datetime-local"]').prop('disabled', true);
                    $('#endDay input[type="datetime-local"]').prop('disabled', true);
                    dateTimeInputs.css('color', '#999999');
            }
        }


        // 追加モーダルを表示するボタンがクリックされた場合
        $('#createModal').on('click', function (e) {
            e.preventDefault();
            $('#externalModal').modal('show');

            $.ajax({
                url: '/Schedules/Create',
                type: 'GET',
                success: function (data) {
                    $('#modalContentPlaceholder').html(data);
                    $('#exampleModalHeader').text('スケジュールの登録');

                    $('#AllDay').on('change', function () {
                        checkAllDay(this);
                    });
                    initForm();
                }
            });
        });


        function checkAllDay(check) {
            var allDayChecked = $(check).prop('checked');
            var dateTimeInputs = $('#dateTimeInputs');

            if (allDayChecked) {
                $('#startDay input[type="datetime-local"]').prop('disabled', true);
                $('#endDay input[type="datetime-local"]').prop('disabled', true);
                dateTimeInputs.css('color', '#999999');
            } else {
                $('#startDay input[type="datetime-local"]').prop('disabled', false);
                $('#endDay input[type="datetime-local"]').prop('disabled', false);
                dateTimeInputs.css('color', '#000000');
            }
        }

        // フォームの初期化関数
        var initForm = () => {
            const $form = $('#modalContentPlaceholder').find('form');

            // 入力コントロールが読み込まれてから入力チェック機能を有効にする
            $.validator.unobtrusive.parse($form);

            $form.on('submit', function (e) {
                e.preventDefault();

                if (!$form.valid()) {
                    return false;
                }

                // Ajaxでpost
                $.ajax({
                    type: 'post',
                    url: $form.attr('action'), // 送信先URL
                    data: $form.serialize(), // フォームデータ
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                }).done((data) => {

                    if (data.success) {
                       $('#externalModal').modal('hide'); // モーダルを閉じる
                       location.reload();
                    } 
                    else {
                        $('#errorModalSchedule').modal('show');

                        $('#modalContentPlaceholder').html(data);
                        checkFlag(allDay);
                        $('#AllDay').on('change', function () {
                        checkAllDay(this);
                        });
                    }
                });
            });
        };
            $('#closeModalBtn, #CloseBtn').click(function () {
                console.log("閉じるボタンが押された")
                initForm();
            });
    });
</script>
}

