@model IEnumerable<EmployeeMasterKadai.Models.Schedule>
@using EmployeeMasterKadai.Common

@{
    ViewData["Title"] = "Index";
}

<!-- 追加モーダルを表示するボタン -->
<button type="button" class="btn btn-primary mb-3" id="createModal">
    追加<i class="bi bi-person-add"></i>
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Organizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeToDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinPeople)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeToDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllDay)
            </td>
            <td>
                @{
                    var startDayFormat = new DateFormat(); 
                    if (item.StartDay != null)
                    {
                        var formattedStartDatDate = startDayFormat.Format(item.StartDay.Value, "yyyy年MM月dd日 hh:mm");
                                    @formattedStartDatDate
                    }
                }
            </td>
            <td>
                @{
                    var endDayFormat = new DateFormat();
                    if (item.EndDay != null)
                    {
                        var formattedEndDayDate = endDayFormat.Format(item.EndDay.Value, "yyyy年MM月dd日 hh:mm");
                                    @formattedEndDayDate
                    }
                }
            </td>
            <td>
                @foreach (var person in item.JoinPeople)
                {
                    <div>@person</div>
                }
            </td>
            <td>
                    <button type="button" class="btn btn-primary editModal" data-id="@item.Id" data-all="@item.AllDay">
                        編集<i class="bi bi-person-add"></i>
                    </button>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>



<!-- モーダルウィンドウ -->
<div class="modal fade" id="externalModal" tabindex="-1" aria-labelledby="externalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modalContentPlaceholder"></div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script>
    $(document).ready(function () {

        // 編集モーダルを表示するボタンがクリックされた場合
        $('.editModal').on('click', function (e) {
            e.preventDefault();
            $('#externalModal').modal('show');


            //編集画面で終日にチェックが入っていたらグレーアウトさせたい、表示非表示設定したい
            var itemId = $(this).data('id');
            var all = $(this).data('all');

            $.ajax({
                url: '/Schedules/Edit/' + itemId,
                type: 'GET',
                success: function (data) {
                    $('#modalContentPlaceholder').html(data);
                        checkFlag(all);

                    $('#AllDay').on('change', function () {
                        checkAllDay(this);
                    });
                    initForm();
                }
            });
        });

        function checkFlag(allDay) {
            var allDayFlagString = allDay.toString();
            var dateTimeInputs = $('#dateTimeInputs');

            if (allDayFlagString === "False") {
                    $('#startDay input[type="datetime-local"]').prop('disabled', false);
                    $('#endDay input[type="datetime-local"]').prop('disabled', false);
                    dateTimeInputs.css('color', '#000000');
            } else {
                    $('#startDay input[type="datetime-local"]').prop('disabled', true);
                    $('#endDay input[type="datetime-local"]').prop('disabled', true);
                    dateTimeInputs.css('color', '#999999');
            }
        }


        // 追加モーダルを表示するボタンがクリックされた場合
        $('#createModal').on('click', function (e) {
            e.preventDefault();
            $('#externalModal').modal('show');

            $.ajax({
                url: '/Schedules/Create',
                type: 'GET',
                success: function (data) {
                    $('#modalContentPlaceholder').html(data);
                    $('#AllDay').on('change', function () {
                        checkAllDay(this);
                    });
                    initForm();
                }
            });
        });




        function checkAllDay(check) {
            var allDayChecked = $(check).prop('checked');
            var dateTimeInputs = $('#dateTimeInputs');

                console.log("このメソッドはできているよ")
            if (allDayChecked) {
                    console.log("Trueだね")
                $('#startDay input[type="datetime-local"]').prop('disabled', true);
                $('#endDay input[type="datetime-local"]').prop('disabled', true);
                dateTimeInputs.css('color', '#999999');
            } else {
                    console.log("Falseだね")
                $('#startDay input[type="datetime-local"]').prop('disabled', false);
                $('#endDay input[type="datetime-local"]').prop('disabled', false);
                dateTimeInputs.css('color', '#000000');
            }
        }

        // フォームの初期化関数
        var initForm = () => {
            const $form = $('#modalContentPlaceholder').find('form');

            // 入力コントロールが読み込まれてから入力チェック機能を有効にする
            $.validator.unobtrusive.parse($form);

            $form.on('submit', function (e) {
                e.preventDefault();

                if (!$form.valid()) {
                    return false;
                }

                // Ajaxでpost
                $.ajax({
                    type: 'post',
                    url: $form.attr('action'), // 送信先URL
                    data: $form.serialize(), // フォームデータ
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                }).done((data) => {
                    if (data.success) {
                       $('#externalModal').modal('hide'); // モーダルを閉じる
                        location.reload();
                    } else {
                        $('#modalContentPlaceholder').html(data);
                            checkFlag(allDay);
                            $('#AllDay').on('change', function () {
                                checkAllDay(this);
                            });
                    }
                });
            });
        };
    });
</script>
}